@import "../_mixins/btn-gradient"

.btn
	display: inline-block
	width: 150px
	height: 40px
	margin-top: 12px
	line-height: 38px
	color: #fff
	background-color: $accent
	border: none
	border-radius: 10rem
	cursor: pointer
	outline: 0

a.btn
	color: #fff
	text-decoration: none
	&::hover
		color: #fff
		text-decoration: none
		

.btn-form 
	@include horizontal-gradient(#92dcff, #e485fc)
	outline: 0
