@import "../_mixins/btn-gradient"

.btn
	display: inline-block
	width: 170px
	height: 40px
	margin-top: 12px
	line-height: 38px
	color: #fff
	font-size: 14px
	font-weight: 500
	background-color: $accent
	border: none
	border-radius: 10rem
	cursor: pointer
	transition: all 0.25s ease-in-out
	outline: 0

	&:hover
		background-color: darken($accent, 5%)

a.btn
	color: #fff
	text-decoration: none
	&::hover
		color: #fff
		text-decoration: none
		

.btn-form 
	@include horizontal-gradient(#92dcff, #e485fc)
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	&:hover
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	&:active
		box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24)
