footer
	width: 100%
	min-height: 260px
	padding-top: 45px
	background-color: $accent
	color: #fff

	.h4
		font-size: 14px

	.footer-social
		padding-bottom: 18px
	.footer-social a 
		padding: 7px
		margin-right: 15px
		&:first-child
			padding-left: 0

	.footer-form_wrap
		position: relative
		width: 100%
		height: auto
		z-index: 2
		
	.footer-form
		width: 80%
		margin: -150px auto 0
		padding: 35px 32px
		text-align: center
		color: $text
		background-color: #fff
		border-radius: 5px

		.h3
			color: $accent
			font-size: 20px

		.form-input
			margin: 16px 0
			border-bottom: 1px solid #f2f2f2
			
			input
				width: 100%
				padding: 8px 0
				text-align: center
				border: 0
	.footer-phones

	
	.copyright
		padding: 15px
		text-align: center

