@import "vars"
@import "fonts"
@import "libs"
@import "components/button"

*
	user-select: none

::placeholder
	text-align: center
	color: #ababab

::selection
	background-color: $accent
	color: #fff

body
	position: relative
	min-width: 320px
	min-height: 625px
	color: $text
	font-size: 16px
	line-height: 1.65
	font-family: $default-font
	font-weight: 300
	background-color: #fff
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.h2
		font-size: 50px
		position: relative
		margin: 0
		line-height: 1
		&::after
			content: ''
			position: absolute
			bottom: 12px
			right: 0
			width: 48px
			height: 2px
			background-color: $text

@import "components/header"
@import "components/about-us"
@import "components/values"
@import "components/our-work"
@import "components/our-help"
@import "components/live"
@import "components/reviews"
@import "components/footer"

.success
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	text-transform: uppercase
	font-size: 14px
	font-weight: 500
	z-index: 10
	span
		margin: auto
	& ~ *
		transition: all .5s ease
	&.success-active
		& ~ *
			opacity: 0.5
			filter: blur(10px)

@import "media" // Always at the end
